
.element{
	color:#2B3483 !important;
	font-family: 'Titillium Web', sans-serif;
	font-family: 'Dosis', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
}
.element:hover{
	color:#cec7c7 !important;
}
.titlem{
    font-weight: bold;
     font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left:10px;
    color:#2B3483 !important;
    margin-right:3em;
    font-family: 'McLaren', cursive;
    }

.footer {
    
    width: 100%;
    padding:10px;
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
  }
  .text-center a{
      color:#2B3483;
  }


.product{
	text-align:center;
	margin:0 auto;
	height:auto;
	overflow:hidden;
	margin-bottom:5em;
	padding-top:1em;
}
.title{
	font-family: 'Raleway', sans-serif;
	font-family: 'Vibes', cursive;
	font-family: 'Work Sans', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
	margin-top:10px;
	color:#EEAA9C;
}
.title2{
	color:#2B3483;
	margin-top:-30;
	font-family: 'Lalezar', cursive;
}

.pimg{
	height:400px;
	margin-bottom:22px;
	margin-top:0px;
	
}
.dimg{
	width:150px;
    height:150px;	
}
.ptitle{
	font-family: 'Raleway', sans-serif;
}
.price{
	font-family: 'Raleway', sans-serif;
    font-family: 'Vibes', cursive;
	color:#2B3483;
	}
.shop{
	font-family: 'Raleway', sans-serif;
	font-family: 'Vibes', cursive;
	font-family: 'Work Sans', sans-serif;
	font-size:14px;
	color:white;
	background-color:#2B3483;
	padding:10px;
	margin-top:-20px;
	width:80%;
}
.details{
	background-color:gray;
	margin-top:2px;
}
	

.myt{
width: 97%;
margin: 0 auto;
}
.myt thead {
    background: #2B3483;
}
.myt th{
    background:#343A40;
    color: white !important;
    text-transform: capitalize;
    border-right:1px solid white;
	font-family: 'Mansalva', cursive;
}

.myt th, .myt td {
    text-align: center;
    color: #212121;
}
.myt td {
	border:1px solid #CDCDCD;
	font-family: 'Dosis', sans-serif;
}
.invert-image{
	    width:30%;

}
td.invert-image a img {
    width:40%;
    margin: 0 auto;
}
.rem{
	position:relative;
}
.styled-heading{
	font-family: 'Josefin Sans', sans-serif;
	color: #EEAA9C !important;
	font-size: 45px;
	margin: 0 0 20px !important;
}
.main-block{
	padding: 80px 0;
}
h5{
	font-family: 'Sulphur Point', sans-serif;
font-family: 'Cairo', sans-serif;	
}
.featured-rating, .featured-rating-orange, .featured-rating-green {
	bottom: 90px !important;
}
#myInput {
	background-image: url('/css/searchicon.png'); /* Add a search icon to input */
	background-position: 10px 12px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 100%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
	border-collapse: collapse; /* Collapse borders */
	width: 100%; /* Full-width */
	border: 1px solid #ddd; /* Add a grey border */
	font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
	text-align: left; /* Left-align text */
	padding: 12px; /* Add padding */
  }
  
  #myTable tr {
	/* Add a bottom border to all table rows */
	border-bottom: 1px solid #ddd; 
  }
  
  #myTable tr.header, #myTable tr:hover {
	/* Add a grey background color to the table header and on hover */
	background-color: #f1f1f1;
  }
  .btno{
	background: none;
	color:inherit;
	border:none;
	padding:0;
	font:inherit;
	cursor:pointer;
	outline:inherit
  }
  /* cart */
  	

table.timetable_sub {
	width:100%;
	margin:0 auto;
}
.timetable_sub thead {
    background: #2B3483;
}
.timetable_sub th{
    background:#2B3483;
    color: whit !important;
    text-transform: capitalize;
    border-right:1px solid #A95832;
	font-family: 'Mansalva', cursive;
}

.timetable_sub th, .timetable_sub td {
    text-align: center;
    padding: 7px;
    font-size: 18px;
    color: #212121;
}
.timetable_sub td {
	border:1px solid #CDCDCD;
}
.invert-image{
	    width:30%;

}
td.invert-image a img {
    width:40%;
    margin: 0 auto;
}
.rem{
	position:relative;
}
.search {
  position: absolute;
  top: 50%;
  left: 90%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.search * {
  outline: none;
  box-sizing: border-box;
}
.search__wrapper {
  position: relative;
}
.search__field {
  width: 50px;
  height: 50px;
  color: transparent;
  font-family: Lato, sans-serif;
  font-size: 1.35em;
  padding: 0.35em 50px 0.35em 0;
  border: 1px solid transparent;
  border-radius: 1%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;

}
.search__field:focus {
  border-bottom-color: #ccc;
  width: 20vw;
  color: #2b2b2b;
  cursor: default;
}
.search__field:focus ~ .search__icon {
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
}
.search__icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  font-size: 1.35em;
  text-align: center;
  border-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
}
.search__field::-webkit-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-webkit-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field:-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field::-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field:-ms-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.dropdown-item{
  display: block !important;
}




